/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Barlow", sans-serif;
}

/* Hero Section */
.hero {
    background-image: url("Photo1.jpeg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;

}
h1 {
    font-weight: 800;
}

h2 {
    font-weight: 500
}

h3 {
    font-weight:400
}

h4 {
    font-weight: 300
}

.small-text {
    font-size: 0.2em;
    opacity: 0.8;

}
.navbar-inside-hero {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index:10;

}

.logo-center {
    display: FLEX;
    margin: 0 auto;
    height: 50px;
}

.nav-links {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li a {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #008CFF;
}
.herosize {
    font-size: 1.2em;
    font-weight: 400;

}
.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-align: center;
    position: relative;
    padding: 0 20px;
    z-index: 1;
}

/* StraubiNews Section */
.straubi-news-section {
    background-color: #D9D9D9;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.straubi-news-section h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;

}

.straubi-news-content {
    display: flex;
    justify-content: left;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
}

.subscribe-box {
    background-color: #5CC3FF;
    color: black;
    padding: 50px 40px 60px 40px;
    border-radius: 16px;
    flex: 2 1 550px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.subscribe-box:hover {
    transform: translateY(-5px);
}

.subscribe-box h3 {
    font-size: 1.6em;
    margin-bottom: 3px;
    font-weight: 400;
    text-align: left;
    color: black;
}

.subscribe-box p {
    font-size: 1.0em;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: left;
    font-weight: 300;
    color: black;
}

.subscribe-form {
    display:flex;
    flex-direction:row;
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
}

.subscribe-form input[type="email"] {
    padding: 10px 15px;
    border: none;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1em;
    flex: 1;
    min-width: 200px;
    outline: none;
}

.subscribe-form button {
    padding: 10px 19px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    background-color: white;
    font-size: 0.8em;
    color: #008CFF;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 100%;

}

.subscribe-form button:hover {
    background-color: #e0e0e0;
}

/* NEXT EVENT */

.next-event-box {
    background-color: #002F52;
    color: white;
    padding: 30px 20px;
    border-radius: 16px;
    flex: 1 1 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

.next-event-box:hover {
    transform: translateY(-5px);
}

.next-event-box h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: left;
}

.event-date .day {
    font-size: 8em;
    display: block;
    margin-bottom:0;

}

.event-date .month {
    font-size: 1.4em;
    display:block;
    margin-top: -4px;

}

.event-info {
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align: left;
}

.event-title {
    font-size: 1.4em;   
}

.event-date {
    text-align: center;
    line-height: 1;
    margin-bottom:60px;
}

.event-time {
    font-size: 0.9em;
    margin: 5px 0
}

.event-location {
    font-size: 0.9em;
}

.next-event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 300px;
    gap: 15px;
}
.event-button {
    display: inline-block;
    background-color: #008CFF;
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 20px 20px;
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    transition: background-color 0.3s;
    transition: ease 0.3s;
    text-align: center;
    font-size: 1.2em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);


}

.event-button:hover {
    background-color: #80c3fa;
    transform: translateY(-5px);
}

.tutors-section {
    background-color: #D9D9D9;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.tutors-section h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;
}

.tutors-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;

}

.tutor-card {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s; 
}

.tutor-info {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.9em;
    color: #333; 
}

.tutor-card:hover .tutor-info {
    opacity: 1;
}

.tutor-card:hover {
    transform: translateY(-5px);
}

.tutor-card-img {
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tutor-card-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s ease;
    display: block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    

}

.tutor-card-img:hover img {
    filter: brightness(40%);
    transform: translateY(-5px);
}

.overlay {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.tutor-card-img:hover .overlay {
    opacity: 1;
    transform: translateY(-5px);

}

.overlay p {
    margin: 4px 0;
    font-size: 0.85em;
    font-weight: 400;
}

.Tutors-name {
    font-size: 1.2em;
    font-weight: 300;
    color: black;
    text-align: center;
    margin-top: 5%;
}

.dorm-map-section {
    background-color: #D9D9D9;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.dorm-map-section h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;
}

.map-container {
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.placeholder-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
    background-color: #008CFF;
}

.placeholder-section img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 16px;
}

.placeholder-section h3 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.placeholder {
    background-color: #008CFF;
}
.navbar-inside-straubi {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index:10;
    background-color: #008CFF;
}

.navbar-inside-straubi .nav-links li a {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-inside-straubi .nav-links li a:hover {
    color: #002F52;
}

.navbar-inside-straubi .nav-links {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    gap: 25px;
    list-style: none;
}

.straubi {
    height: 80px;
    width: 100%;
    background-color: #008CFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.straubi-logo-center {
    display:block;
    height: 50px;
}

.backhome {
    display: inline-block;
    background-color: #008CFF;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size:10vh;
    padding: 20px 20px;
    margin-top: auto;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    align-items: center;
}

.about-wurzburg {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.about-wurzburg h2 {
    font-size: 2em;
    font-weight: 400;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;
}

.weather-wrapper {
    max-width: 900px;
    border-radius: 16px;
}


.directions {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.ammenities {
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Barlow', sans-serif;
}

.ammenities h2 {
    font-size: 2em;
    font-weight: 400;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;
}

.header {
    background-color: #D9D9D9;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #003366;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;
}

.header p {
    margin-bottom: 10px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    color: black;
    text-align: left;
}

.header svg {
    fill: black;
}

.directions h2 {
    font-size: 2em;
    font-weight: 400;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1100px;
    width:100%;
    text-align: left;
}

.youtube-video-wrapper {
    margin-bottom: 20px;

}

.event-button-2 {
    display: inline-block;
    background-color: white;
    color: #008CFF;
    text-decoration: none;
    font-weight: 400;
    padding: 15px 15px;
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    transition: background-color 0.3s;
    transition: ease 0.3s;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);


}

.event-button-2:hover {
    background-color: #80c3fa;
    transform: translateY(-5px);
}

.info {
    display: inline-flex;
    align-items: center;
    gap: 8px; /* espacio entre el ícono y el texto */
    font-size: 1.1em;
    font-weight: 400;
    color: #003366;
}

.info svg {
    width: 20px;
    height: 20px;
    fill: #008CFF;
    flex-shrink: 0;
}

body {
    background-color: #D9D9D9;
    font-family: "Barlow", sans-serif
}
